@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

.bg-img {
  width: 100%;
  height: 100vh;
  background: url("bg-img.jpg") no-repeat center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-img h1#intro {
  font-size: 3rem;
  color: rgb(221, 220, 220);
  margin-bottom: 2rem;
}
.bg-img h1#slogen {
  font-size: 5rem;
  color: rgb(239, 235, 235);
  margin-bottom: 1.5rem;
}
.bg-img button#explore_btn {
  width: 20rem;
  height: 4rem;
  background: none;
  border: none;
  background-color: rgba(190, 189, 189, 0.5);
  border-radius: 2rem;
  font-size: 1.5rem;
}

h1.body_header {
  font-size: 3.5rem;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 3rem;
  justify-content: center;
  color: #0b3636;
}

.bodyinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyinfo .event_card {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bodyinfo .event_card .card-1 {
  background-image: url("GD-img.avif");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}
.bodyinfo .event_card .card-2 {
  background-image: url("project.avif");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}
.bodyinfo .event_card .card-3 {
  background-image: url("chess.jpg");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}
.bodyinfo .event_card .card-4 {
  background-image: url("quiz.jpg");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}
.bodyinfo .event_card .card-5 {
  background-image: url("sport.jpg");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}
.bodyinfo .event_card .card-6 {
  background-image: url("webinar.avif");
  width: 30rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 1.5rem;
}

#card_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bodycontent {
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(19, 19, 19, 0.5);
  opacity: 0;
  cursor: pointer;
  transition: 1s;
  border-radius: 1.5rem;
}

.card-1:hover .bodycontent {
  opacity: 1;
}

.card-2:hover .bodycontent {
  opacity: 1;
}

.card-3:hover .bodycontent {
  opacity: 1;
}

.card-4:hover .bodycontent {
  opacity: 1;
}

.card-5:hover .bodycontent {
  opacity: 1;
}

.card-6:hover .bodycontent {
  opacity: 1;
}

.content {
  width: 25rem;
  height: 30rem;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.content .body_pera {
  margin: 1rem;
  font-size: 1.3rem;
}
.content .participate {
  width: 10rem;
  height: 3rem;
  margin: 2rem;
  background: none;
  border: none;
  border-radius: 1.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
.gallery_section .gallery {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery_section .gallery .photo {
  width: 30rem;
  height: 35rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery_section .gallery .photo .pic {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.8rem;
}
.gallery_section .gallery .photo .disc {
  font-size: 2rem;
  margin: 1rem;
  color: #0b3636;
}

.coordinaters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin-left: 2.5rem;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #9db3bf;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1.6rem;
  margin-left: 0.8rem;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .cards {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel :where(.cards, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .cards {
  scroll-snap-align: start;
  height: 35rem;
  list-style: none;
  background: #3c5b6c;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 3rem 8rem;
}

.carousel .cards .img {
  background: #8B53FF;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
}

.cards .img img {
  width: 16.3rem;
  height: 16.3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.4rem solid #fff;
}

.carousel .cards h2 {
  font-weight: 500;
  font-size: 2.2rem;
  margin: 3rem 0 0.5rem;
}

.carousel .cards span {
  color: #e5dede;
  font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
.footer {
  width: 100%;
  height: 10rem;
  margin-top: 5rem;
  display: flex;
  color: #e5dede;
  justify-content: center;
  align-items: center;
  background-color: #777777;
}
.footer .Copyright {
  font-size: 1.8rem;
  color: #0b3636;
}/*# sourceMappingURL=style.css.map */